{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1 id="div_render" data-id="{% if app.user %}{{ app.user.company.id }}{% endif %}">Edit Company</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <button class="btn" id="btn_submit">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_app') }}">back to list</a>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('edit') }}
{% endblock %}
