{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    {% if app.user %}
        <div id="div_render" class="example-wrapper" data-id="{% if app.user %}{{ app.user.company.id }}{% endif %}">
            <h1>Hello {{ app.user.firstName }} {{ app.user.lastName }}! ✅</h1>
            <ul>
                <li id="name"></li>
                <li id="activityArea"></li>
                <li id="adress"></li>
                <li id="cp"></li>
                <li id="city"></li>
                <li id="country"></li>
            </ul>
            <a href="{{ path('app_edit') }}">Edit</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
